<div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Responsive Navigation</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a href="#" mat-button>Menu Item 1</a>
        <a href="#" mat-button>Menu Item 2</a>
        <a href="#" mat-button>Menu Item 3</a>
        <a href="#" mat-button>Menu Item 4</a>
        <a href="#" mat-button>Menu Item 5</a>
        <a href="#" mat-button>Menu Item 6</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item>Menu Item 1</a>
        <a href="#" mat-list-item>Menu Item 2</a>
        <a href="#" mat-list-item>Menu Item 3</a>
        <a href="#" mat-list-item>Menu Item 4</a>
        <a href="#" mat-list-item>Menu Item 5</a>
        <a href="#"mat-list-item>Menu Item 6</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>

      <div class="person">

        <mat-table class="persons-table mat-elevation-z8" [dataSource]="dataSource"
                   matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell class="description-cell" *matCellDef="let personne">{{personne.id}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="nom">
            <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
            <mat-cell *matCellDef="let personne">{{personne.nom}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="prenom">
            <mat-header-cell *matHeaderCellDef>Prenom</mat-header-cell>
            <mat-cell class="description-cell" *matCellDef="let personne">{{personne.prenom}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        </mat-table>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
